<div class="header">

<div class="queryContainer">
	<!-- <img id="pokeball" src="assets/images/pokeball.png" alt="pokeball" /> -->
	<ng-container class="querySection">
		<input type="text" id="query" placeholder="Enter Pokemon Name or ID" #pokemonText>
		<button id="searchButton" (click)="searchPokemon(pokemonText.value)">Search</button>
	</ng-container>
</div>
<mat-progress-spinner [mode]="'indeterminate'" color="accent" *ngIf="loading$ | async"></mat-progress-spinner>
<ng-container *ngIf="pokemon == undefined" class="page">
	<div id="pokemonContainer" class="pokemonContainer">
		<div id="pokemon-title-div">
			<h1 id="pokemon-title" style="font-size: 64px; margin-bottom: 0px">
				Pokemon
			</h1>
		</div>
		<div id="pokemon-information">
			<div id="pokemonSpriteContainer" class="pokemonSpriteContainer">
				<img
					src="assets/images/pokeball.png"
					id="pokemon_picture"
					title="363"
					alt="Spheal"
				/>
			</div>
			<div id="pokemon-information-group">
				<div
					class="information"
					style="gap: 0px; grid-template-columns: auto auto"
				>
					<h1>Generation 1</h1>
					<h1>Category: Seed Pokemon</h1>
				</div>
				<div
					class="information"
					style="gap: 0px; grid-template-columns: auto auto"
				>
					<h1>Height: 6'2"</h1>
					<h1>Weight: 190lb</h1>
				</div>
				<div class="information" style="grid-template-columns: auto auto">
					<p id="description-target" style="padding: 25px; text-align: justify">
						Haha funny description about a Pokemon, what else is there to write
						about? Better make this long to see how this handles long
						descriptions.
					</p>
				</div>
			</div>
		</div>
		<div
			style="padding-top: 5px"
			class="pokemonStatsContainer"
			id="pokemonStatsContainerId"
		>
			<div
				class="type-group"
				id="type-target"
			>
				<h1>Type</h1>
				<h2 class="type" id="grass">Grass</h2>
				<h2 class="type" id="electric">Electric</h2>
			</div>
			<div
				class="type-group"
				id="type-target"
			>
				<h1>Weaknesses</h1>
				<h2 class="type" id="grass">Grass</h2>
				<h2 class="type" id="electric">Electric</h2>
			</div>
			<div class="statsGraphic">
				<div class="stats" id="hp-stat">
					<h1 id="hp-num">HP</h1>
				</div>
				<div class="stats" id="atk-stat">
					<h1 id="atk-num">Attack</h1>
				</div>
				<div class="stats" id="def-stat">
					<h1 id="def-num">Defense</h1>
				</div>
				<div class="stats" id="spa-stat">
					<h1 id="spa-num">Special Atk.</h1>
				</div>
				<div class="stats" id="spf-stat">
					<h1 id="spf-num">Special Def.</h1>
				</div>
				<div class="stats" id="spd-stat">
					<h1 id="spd-num">Speed</h1>
				</div>
			</div>
		</div>
		<h1>Evolution</h1>
		<div class="information" id="evolution-target">
			<div class="evolution-target-item">
				<h1>Pokemon 1</h1>
				<img src="assets/images/pokeball.png" />
			</div>
			<div class="evolution-target-item">
				<h1>Pokemon 2</h1>
				<img src="assets/images/pokeball.png" />
			</div>
			<div class="evolution-target-item">
				<h1>Pokemon 3</h1>
				<img src="assets/images/pokeball.png" />
			</div>
			<div class="evolution-target-item">
				<h1>Pokemon 4</h1>
				<img src="assets/images/pokeball.png" />
			</div>
		</div>
	</div>
</ng-container>