<div style="height:7vh;" class="header">

</div>

<div class="queryContainer">
  <img id="pokeball" src="assets/images/pokeball.png" alt="pokeball" />
  <ng-container class="querySection">
    <input [(ngModel)]="pokemonId" type="text" id="query" placeholder="Enter Pokemon Name or ID">
    <button id="searchButton">Search</button>
  </ng-container>
</div>
<div class="page">
  <div id="pokemonContainer" class="pokemonContainer">
    <div id="pokemon-title-div">
      <h1 id="pokemon-title" style="font-size: 64px; margin-bottom: 0px">
        Pokemon
      </h1>
    </div>
    <div id="pokemonSpriteContainer" class="pokemonSpriteContainer">
      <img
        src="assets/images/pokeball.png"
        id="pokemon_picture"
        title="363"
        alt="Spheal"
      />
    </div>
    <div
      style="padding-top: 5px"
      class="pokemonStatsContainer"
      id="pokemonStatsContainerId"
    >
      <h1 id="pokemon-stats-title">Stats</h1>
      <div style="padding: 0">
        <div class="statsGraphic">
          <div class="stats" id="hp-stat">
            <h1 id="hp-num">HP</h1>
          </div>
          <div class="stats" id="atk-stat">
            <h1 id="atk-num">Attack</h1>
          </div>
          <div class="stats" id="def-stat">
            <h1 id="def-num">Defense</h1>
          </div>
          <div class="stats" id="spa-stat">
            <h1 id="spa-num">Special Atk.</h1>
          </div>
          <div class="stats" id="spf-stat">
            <h1 id="spf-num">Special Def.</h1>
          </div>
          <div class="stats" id="spd-stat">
            <h1 id="spd-num">Speed</h1>
          </div>
        </div>
      </div>

      <div
        class="information"
        style="justify-content: space-evenly"
        id="type-target"
      >
        <h1>Type</h1>
        <h2 class="type" id="grass">Grass</h2>
        <h2 class="type" id="electric">Electric</h2>
        <!-- <div>
                    <h1>Weakness</h1>
                </div>
                <div id="weakness-target">
                    <h2 class="type" id="fire">Fire</h2><h2 class="type" id="water">Water</h2>
                </div> -->
      </div>
      <div
        class="information"
        style="gap: 0px; grid-template-columns: auto auto"
      >
        <h1 id="gen-target" style="padding: 15px 50px; font-size: xx-large">
          Generation 1
        </h1>
        <h1
          id="cat-target"
          style="font-size: xx-large; padding: 15px 0px 15px 30px"
        >
          Category: Seed Pokemon
        </h1>
      </div>
      <div
        class="information"
        style="gap: 0px; grid-template-columns: auto auto"
      >
        <h1 id="height-target" style="font-size: xx-large; padding: 15px">
          Height: 6'2"
        </h1>
        <h1 id="weight-target" style="font-size: xx-large; padding: 15px">
          Weight: 190lb
        </h1>
      </div>
      <div class="information" style="grid-template-columns: auto auto">
        <h1 style="padding: 25px">Description</h1>
        <p id="description-target" style="padding: 25px; text-align: justify">
          Haha funny description about a Pokemon, what else is there to write
          about? Better make this long to see how this handles long
          descriptions.
        </p>
      </div>
      <h1>Evolution</h1>
      <div
        class="information"
        id="evolution-target"
        style="justify-content: space-evenly; margin: auto"
      >
        <div>
          <h1>Pokemon 1</h1>
          <img src="assets/images/pokeball.png" />
        </div>
        <div>
          <h1>Pokemon 2</h1>
          <img src="assets/images/pokeball.png" />
        </div>
        <div>
          <h1>Pokemon 3</h1>
          <img src="assets/images/pokeball.png" />
        </div>
        <div>
          <h1>Pokemon 4</h1>
          <img src="assets/images/pokeball.png" />
        </div>
      </div>
    </div>
  </div>
</div>
