:root {
    --hp-green: rgb(81, 207, 13);
    --hp-green-bright: rgb(143, 255, 83);
    --hp-green-dark: rgb(68, 172, 13);
    --attack-red: rgb(190, 21, 21);
    --attack-red-bright: rgb(236, 47, 47);
    --attack-red-dark: rgb(138, 13, 13);
	--blue: #284fce;
    --defense-blue: rgb(0, 94, 255);
    --defense-blue-bright: rgb(62, 133, 255);
    --defense-blue-dark: rgb(0, 66, 180);
    --specatk-orange: rgb(255, 153, 0);
    --specatk-orange-bright: rgb(255, 194, 61);
    --specatk-orange-dark: rgb(206, 99, 0);
    --specdef-purple: rgb(168, 23, 205);
    --specdef-purple-bright: rgb(218, 68, 255);
    --specdef-purple-dark: rgb(138, 17, 168);
    --speed-yellow: rgb(255, 244, 39);
    --speed-yellow-bright: rgb(255, 246, 74);
    --speed-yellow-dark: rgb(223, 201, 1);
    --blue-bright: #3e81e6;
	--soft-blue: rgb(96, 167, 196);
    --spheal-blue-bright:#9ec9f8;
    --spheal-blue:#7aa8d9;
    --spheal-blue-semidark:#6d95c0;
    --spheal-blue-dark:#4472a3;
	--pikachu-yellow-bright: #fffc3e;
	--pikachu-yellow: #fff235;
	--pikachu-yellow-soft: #fff780;
	--pikachu-yellow-soft-bright: #fffcd2;
	--pikachu-yellow-gold: #e0cd22;
	--pikachu-yellow-dark: #dfc13f;
	--white: #ffffff;
	--white-2: #f7f7f7;
	--white-blue: #e2ecff;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
    background-image: url("assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
	background-attachment: fixed;
	background-color: var(--spheal-blue);
	font-size: large;
}

h1 {
	font-size:xx-large;
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

.grid {
	display:grid;
	grid-template-columns: 1fr 5fr 1fr;
}

aside.aside-left{
	float: left;
	font-style: italic;
}

aside img {
	max-width:100%;
	max-height:100%;
}

aside.aside-right{
	float: right;
	font-style: italic;
}

aside div {
	padding: 2em;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

section {
	color: black;
	background-color: var(--white-2);
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

section div {
	padding: 2em 3em;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

section img {
	display: block;
	margin-left:auto;
	margin-right:auto;
	width: 100%;
}

.header {
	display:block;
	background-color: var(--spheal-blue);
	width: 100%;
	height: 10%;
}

.post {
	max-width: 60vh;
	margin-top: 1em;
	margin-bottom: 0.5em;
	border-radius: 15px;
	box-shadow: 5px 10px #00000038;
}

#whospokemon {
	transition: all .25s ease-in-out;
}

#whospokemon:hover {
	-webkit-transform:scale(1.25); /* or some other value */
    transform:scale(1.25);
	box-shadow: 
		0px 0px 10px 10px #ffffff,
		0px 0px 40px 30px #fff235;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
